# **STEP 2. 변수와 자료형**

## **01. 변수**

### **1. 변수 (variable)**

#### **1-1. 변수 이름**
- 값(value)의 의미를 추측할 수 있는 이름 사용

#### **1-2. 변수 의미**

- 변수란, '변할 수 있는 것'으로 어떠한 값을 담는 '상자'라고 생각하면 됨
> - 예를 들어, A = 1 이라고 하는 것은 1을 A라는 상자(변수)에 담아줘! 라는 의미
> - 그리고 이것을 '변수를 선언한다'라고 표현

In [ ]:
# 7을 a라는 변수에 담기
# 1을 A라는 변수에 담기
a=7
A=1

#### **1-3. 변수 선언**
- 하나의 변수에 하나의 값을 대입
- 두 개의 변수에 같은 값을 대입
- 변수에 변수를 대입

In [ ]:
# 하나의 변수에 하나의 값을 대입
a=1
b=1

In [ ]:
# 두 개의 변수에 같은 값을 대입
a=b=1

In [ ]:
# 변수에 변수를 대입
a=1
b=a

#### **1-4. 변수 출력**
- 변수에 값이 잘 들어갔는지 확인하고 싶다면, print() 함수를 이용

In [ ]:
# a 변수의 값 출력
# A 변수의 값 출력
print(a)

1

## **02. 자료형**

### **1. 자료형 (data type)**
- 프로그램에서 표현하고 저장하는 데이터 유형

### **2. 숫자형 (number)**

#### **2-1. 종류**
- 숫자형은 숫자 형태로 이루어진 자료형
> - 정수 (integer) : 소수점이 없는 숫자
> - 실수, 부동 소수점 (floating point) : 소수점이 있는 숫자

In [ ]:
# 정수 3 출력
# 실수 -3.2 출력
print(3)
print(-3.2)

#### **2-2. 데이터 타입 출력**

- type() : 괄호 안에 입력한 데이터 타입을 알려주는 함수
> - int : 정수
> - float : 실수

In [ ]:
# type()은 괄호 안에 입력한 자료의 유형을 알려주는 함수
# 정수 3과 실수 -3.2 대한 자료 유형 출력
print(type(3))
print(type(-3.2))

#### **2-3. 연산자**
- 사칙 연산자
> - 덧셈 (+)
> - 뺄셈 (-)
> - 곱셈 (*)
> - 나눗셈 (/)

In [ ]:
# a, b, c 변수 선언
a = 4
b = 3.2
c = 2

In [ ]:
# a, b 변수를 통한 사칙 연산
print(a+b)
print(a-b)
print(a*b)
print(a/b)

- 정수 나누기 연산자
> - 나머지 (%)
- 나머지 연산자
> - 몫 (//)

In [ ]:
# a, c 변수를 통한 나눗셈, 나머지, 몫
print(a/c)
print(a % c)
print(a // c)

- 제곱 연산자
> - 제곱 (**)

In [ ]:
# a, c 변수를 통한 제곱
print(a**c)

#### **2-4. 관련 함수**
- 자주 사용하는 파이썬 내장 함수
> - int() : 숫자나 문자열을 정수형(integer)으로 변환
> - float() : 숫자나 문자열을 실수형(float)으로 변환

In [ ]:
# 정수형 변환
print(int(6.2))
print(int(-6.2))

In [ ]:
# 실수형 변환
print(5)
print(float(5))

- 자주 사용하는 파이썬 내장 함수
> - abs() : 절대값 출력
> - pow() : 제곱 출력

In [ ]:
# 절대값 출력
print(abs(-3.4))

In [ ]:
# 제곱 출력
print(pow(3,3))

### **3. 문자열 자료형 (string)**

#### **3-1. 문자열 만들기**
- 큰 따옴표로 문자열 만들기
- 작은 따옴표로 문자열 만들기
- 문자열 내부에 따옴표 넣기
- 이스케이프 문자를 사용해 문자열 만들기
- 여러 줄 문자열 만들기
- 줄바꿈 없이 문자열 만들기

In [ ]:
# 큰 따옴표로 문자열 만들기
# word 변수에 큰 따옴표 문자열 저장하여 출력
word = "hello"
print(word)

In [ ]:
# 작은 따옴표로 문자열 만들기
print('안녕하세요')

In [ ]:
# 문자열 내부에 큰 따옴표 안에 작은 따옴표 넣기
print("I'm smart")

In [ ]:
# 이스케이프 문자를 사용해 문자열 만들기
# 이스케이프 문자는 역슬래시(\) 기호와 함께 조합해서 사용하는 특수문자를 의미
# \와 함께 사용하면 '문자열을 만드는 기호'가 아니라 '단순한 따옴표'로 인식
print("나는 \'AI Lab\'과정에 참여중이다.")

In [ ]:
# 여러 줄 문자열 만들기
# 큰 따옴표 또는 작은 따옴표를 3번 반복한 기호를 사용
# Enter를 누르는 곳마다 줄바꿈이 일어남
s = '''
글을 여러 줄 쓰고 싶다.
세 줄도 되고
네 줄도 되는
'''
print(s)

In [ ]:
# 줄바꿈 없이 문자열 만들기
# 큰 따옴표 또는 작은 따옴표를 3번 반복한 기호만 사용하면 위 아래로 의도하지 않은 줄바꿈이 생김
# 역슬래시(\) 기호를 사용하면 의도하지 않은 줄바꿈이 사라짐
sentence = """\
글을 여러 줄 쓰고 싶다.
세 줄도 되고
네 줄도 되는\
"""
print(sentence)

#### **3-2. 이스케이프 문자**
- 출력물을 보기 좋게 만드는 용도
> - \n : 줄바꿈
> - \t : 탭
> - \\\ : 역슬래시
> - \\' : 작은 따옴표
> - \\" : 큰 따옴표

In [ ]:
# 줄바꿈, 탭, 작은 따옴표, 큰 따옴표 출력

s1="아버지\n가방에 들어가신다"
s2="바늘\t실"
s3="가나\\다라"
s4="서울은 \'한국\'의 수도입니다."
s5="\"안녕\"은 인사입니다."

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

#### **3-3. 연산자**
- 문자열도 숫자형처럼 연산 가능
> - 문자열 연결 연산자 (+)
> - 문자열 반복 연산자 (*)

In [ ]:
# [+] 문자열 연결 연산자
a = "아버지 가방에"
b = " 들어가신다."
print(f"{a}{b}")

In [ ]:
# [*] 문자열 반복 연산자
e = "=" *30
print(e)

==============================

#### **3-4. 인덱싱과 슬라이싱**
- 인덱싱
> - 문자열 내부의 문자 하나를 선택하는 연산자
> - 문자 선택 연산자 ([ ])
> - 대괄호 [ ] 안에는 선택할 문자의 위치를 지정하며, 이 숫자를 인덱스(index)라고 부름
> - 문자열[인덱스]로 호출

In [ ]:
# 문자열 인덱싱 : 문자 하나 선택
#           012   3  4567  8 910111213
#                                 -2-1
sentence = '파이썬 하루만에 끝내보자!'

In [ ]:
# 문자열[인덱스]로 호출
# 순방향 인덱스 : 0 부터 시작
# 역방향 인덱스 : -1 부터 시작

print(sentence)
print(sentence[0])
print(sentence[-1])

파이썬 하루만에 끝내보자!
파
!

- 슬라이싱
> - 문자열의 특정 범위를 선택할 때 사용하는 연산자
> - 문자열 범위 선택 연산자 ([:])
> - 문자열[인덱스1 : 인덱스2]로 호출

In [ ]:
# 문자열 슬라이싱 : 특정 범위 선택
#           012   3  4567  8 910111213
#                                 -2-1
sentence = '파이썬 하루만에 끝내보자!'

In [ ]:
# 문자열[인덱스1 : 인덱스2]로 호출
# 4:8 = 4, 5, 6, 7
# 4 이상부터 8 미만까지의 범위 선택하여 출력
# 마지막 숫자는 포함하지 않음

print(sentence[4:8])

하루만에

#### **3-5. 포맷팅**
- 문자열 안에 어떤 값을 삽입하는 방법
- % 연산자 포맷팅
> - 문자열 포맷 코드에 맞춰 바로 숫자와 문자를 대입할 때 사용
>> - 숫자(정수) 대입 : %d
>> - 숫자(실수) 대입 : %f
>> - 문자 1개 대입 : %c
>> - 문자열 대입 : %s

In [ ]:
# 한 개의 % 연산자 포맷팅
# 숫자 대입은 %d

sentence = "나는 %d 호선을 타고 다녀." %6

'나는 6 호선을 타고 다녀.'

In [ ]:
# 두 개 이상의 % 연산자 포맷팅
# 숫자 나타내는 변수와 문자를 나타내는 변수 대입
# 숫자 대입은 %d, 문자 대입은 %s

a = 4
b = "학교"
sentence = "나는 %d호선을 타고 %s를 가." % (a, b)
print(sentence)

나는 4호선을 타고 학교를 가.

- format( ) 함수 포맷팅
> - 중괄호{ }를 포함한 문자열 뒤에 도트(.)를 찍고 format( ) 함수 사용
> - 중괄호 개수와 format( ) 함수 괄호 안의 매개변수 개수는 동일
> - 함수를 사용하면 문자열의 {} 기호가 format( ) 함수 괄호 안에 있는 매개변수로 차례로 대치

In [ ]:
# 한 개의 format() 함수 포맷팅
# { } 안에 숫자 대입
# format 함수 안에 넣을 숫자 삽입

print("나는 {}호선을 타고 {}에 회사에 도착.".format(5,9))

나는 5호선을 타고 9에 회사에 도착.

#### **3-6. 관련 함수**
- len(x) : 문자열 길이 출력
- split() : 문자열 나누기
- count(x) : 문자 개수 세기
- replace('a', 'b') : 문자열 바꾸기
- find('a') : 위치 알려주기
- upper() : 소문자를 대문자로 바꾸기
- lower() : 대문자를 소문자로 바꾸기
- join(x) : 문자열 삽입

In [ ]:
# len(x) : 문자열 길이 출력
sentence1 = "Selena는 샤브샤브를 좋아해"
len(sentence1)

17

In [ ]:
# split() : 문자열 나누기
sentence1.split()

['Selena는', '샤브샤브를', '좋아해']

In [ ]:
# count(x) : 문자 개수 세기
sentence1.count('샤브')

2

In [ ]:
# replace('a', 'b') : 문자열 바꾸기

sentence2 = sentence1.replace('샤브샤브',"육회")
sentence1
sentence2

'Selena는 육회를 좋아해'

In [ ]:
# find('a') : 위치 알려주기
file_name = 'HAMburger.jpg'

file_name.find('.')
file_name.split('.')

['HAMburger', 'jpg']

In [ ]:
# upper() : 소문자를 대문자로 바꾸기
file_name.upper()

'HAMBURGER.JPG'

In [ ]:
# lower() : 대문자를 소문자로 바꾸기
file_name.lower()

'hamburger.jpg'

In [ ]:
# join(x) : 문자열 삽입

sentence = '.'.join('abcde')
sentence

'a.b.c.d.e'

### **4. 리스트 자료형 (list)**

#### **4-1. 리스트 선언**
- 리스트를 생성하는 방법은 대괄호[ ]에 자료를 쉼표로 구분하여 입력
- 대괄호[ ] 내부에 넣는 자료를 요소라고 부르며 영어로는 element라고 명칭

In [ ]:
# 대괄호[ ] 내부에 여러 종류의 자료를 넣어 선언
# 선언한 리스트를 출력하면 내부의 자료를 모두 출력
myList = [1, 2.3,5, 'word', [1, 2, [3, 4]]]

#### **4-2. 인덱싱과 슬라이싱**

- 인덱싱
> - 문자열 내부의 문자 하나를 선택하는 연산자

- 슬라이싱
> - 문자열의 특정 범위를 선택할 때 사용하는 연산자

In [ ]:
print(myList)

# [인덱싱] 0 인덱스 값을 가진 요소 값 출력
print(myList[0])

[1, 2.3, 5, 'word', [1, 2, [3, 4]]]
1

In [ ]:
# 리스트 'myList'는 1, 1,25, 1과 또 다른 리스트인 [1, 2, [3, 4]]로 이루어져있음
# [인덱싱] 4번째 요소 값의 2번째 요소 값 출력
print(myList[4][2])

[3, 4]

In [ ]:
# [인덱싱] 4번째 요소 값의 2번째 요소 값의 0번째 요소 값 출력
print(myList[4][2][0])

3

In [ ]:
# [슬라이싱] 2번째부터 3번째까지 범위 선택
print(myList[2:4])

[5, 'word']

In [ ]:
# [인덱싱] 3번째 요소 값의 0번째 요소 값 출력
print(myList[3][0])

w

In [ ]:
# 아래 결과를 이해하면 인덱싱과 슬라이싱 정복!
# 리스트의 인덱싱과 슬라이싱을 이용!
#         0   1    2     3-0     3-1    3-2-0      3-2-1
myList = [1, 5.2, 2*3, ['커피', '물', ['매실차', '유자차']]]
print(myList[3][2][0][:2])

매실

#### **4-3. 연산자**
- '+ ' : 덧셈
- ' * ' : 반복
- len() : 길이 구하기

In [ ]:
# list1 2번 반복
# list1과 list2 덧셈
# 연산 결과의 길이 구하기
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1*2 + list2)
print(len(list1*2 + list2))

[1, 2, 3, 1, 2, 3, 4, 5, 6]
9

#### **4-4. 변경과 삭제**
- 리스트는 값을 변경하거나 삭제할 수 있음

In [ ]:
#         0   1    2     3-0     3-1    3-2-0      3-2-1
myList = [1, 5.2, 2*3, ['커피', '물', ['매실차', '유자차']]]
print(myList)

# 리스트 '변경' 값으로 수정
myList[3] = "변경"
print(myList)
print(len(myList))

# 리스트 "변경" 값 삭제

del myList[3]
print(myList)
print(len(myList))

[1, 5.2, 6, ['커피', '물', ['매실차', '유자차']]]
[1, 5.2, 6, '변경']
4
[1, 5.2, 6]
3

#### **4-5. 관련 함수**
- sort() : 리스트 정렬
- reverse() : 리스트 뒤집기
- append(x) : 리스트에 요소 추가
- extend(x) : 리스트 확장
- insert(a, b) : 리스트 요소 삽입, 리스트 a번째 위치에 b를 삽입
- remove(x) : 리스트 요소 제거
- pop() : 리스트 요소 끄집어내기
- count(x) : 리스트에 포함된 요소 x의 개수 세기

In [ ]:
# myList 선언
myList = [1, 5.2, 2, 6, 2]
print(myList)

[1, 5.2, 2, 6, 2]

In [ ]:
# sort() : 리스트의 요소를 순서대로 정렬하는 함수

myList.sort()
print(myList)

[1, 2, 2, 5.2, 6]

In [ ]:
# reverse() : 리스트 요소 뒤집는 함수

myList.reverse()
print(myList)

[6, 5.2, 2, 2, 1]

In [ ]:
# append(x) : 리스트 맨 마지막에 추가하는 함수
# 한 개의 숫자를 리스트에 추가한 경우

myList.append(10)
print(myList)

[6, 5.2, 2, 2, 1, 10]

In [ ]:
# append(x) : 리스트 맨 마지막에 리스트를 추가하는 함수
# 한 개의 리스트를 리스트에 추가한 경우
myList.append([1, 2])
print(myList)

[6, 5.2, 2, 2, 1, 10, [1, 2]]

In [ ]:
# extend(x) : 원래 myList 리스트에 새로운 리스트를 더하는 함수
# 덧셈과 같은 역할

myList.append([3, 4])
print(myList)

[6, 5.2, 2, 2, 1, 10, [1, 2], [3, 4]]

In [ ]:
# insert(a, b) : 리스트의 a번째 위치에 b를 삽입하는 함수
# 2번째 위치에 "삽입" 문자열 삽입

myList.insert(2,"추가")
print(myList)

[6, 5.2, '추가', 2, 2, 1, 10, [1, 2], [3, 4]]

In [ ]:
# remove(x) : 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
# 첫 번째 나온 2를 삭제

myList.remove(2)
print(myList)

[6, 5.2, '추가', 2, 1, 10, [1, 2], [3, 4]]

In [ ]:
print(myList)

# pop() : 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제하는 함수
# 맨 마지막 요소인 4 삭제
lastWord = myList.pop()
print(myList)
print(lastWord)

# pop(x) : 리스트의 x번째 요소를 돌려주고 그 요소는 삭제하는 함수
# 1번째 요소인 5.2 삭제
lastWord = myList.pop(2)
print(myList)
print(lastWord)

[6, 5.2, '추가', 2, 1, 10, [1, 2]]
[6, 5.2, '추가', 2, 1, 10]
[1, 2]
[6, 5.2, 2, 1, 10]
추가

In [ ]:
# count(x) : 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수
print(myList)
print(myList.count(1))

[6, 5.2, 2, 1, 10]
1

### **5. 튜플 자료형 (tuple)**

#### **5-1. 튜플 생성**
- 1. 괄호 있는 튜플
> - (데이터, 데이터, 데이터, ...) 형태로 생성
> - 한 개의 값을 가질 때는 마지막에 ", (쉼표)"를 써줘야 함

In [ ]:
# 괄호 있는 튜플
# tuple1 : 한 개의 값을 가질 때는 마지막에 ", (쉼표)"를 써줘야 함
# float1 : 한 개의 요소지만 ", (쉼표)" 안 써줘서 튜플로 생성이 안 됨

tuple1 = (2.3,)
float1 = (2.3)

print(tuple1)
print(float1)

print(type(tuple1))
print(type(float1))

(2.3,)
2.3
<class 'tuple'>
<class 'float'>

- 2. 괄호 없는 튜플
> - 괄호를 생략해도 튜플로 인식할 수 있음

In [ ]:
# 괄호 없는 튜플
# tuple2 : 여러 개 요소인 튜플 생성

tuple2 = 1, 2, 3, 4, 5
print(tuple2)
print(type(tuple2))

(1, 2, 3, 4, 5)
<class 'tuple'>

#### **5-2. 인덱싱과 슬라이싱**

In [ ]:
# 인덱싱 : 문자열 내부의 문자 하나를 선택하는 연산자
tuple1 = (9,8,7,6)
tuple1[2]

7

In [ ]:
# 슬라이싱 : 문자열의 특정 범위를 선택할 때 사용하는 연산자
# [1:3] : 1 인덱스부터 3 인덱스 미만까지 범위
tuple2 = (5,4,3,2)
tuple2[:2]

(5, 4)

#### **5-3. 연산자**
- '+ ' : 덧셈
- ' * ' : 반복
- len() : 길이 구하기

In [ ]:
# tuple1 2번 반복
# tuple1과 tuple2 덧셈
# 연산 결과의 길이 구하기
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1*2
tuple4 = tuple3+tuple2

print(tuple3)
print(tuple4)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 4, 5, 6)

#### **5-4. 변경과 삭제**
- 튜플을 값을 변경할 수 없고 삭제할 수 없음
- 오류 발생!

In [ ]:
# 튜플의 값을 변경할 때 오류 발생
tuple1 = (1, 2, 3, 4)
tuple1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플의 값을 삭제할 때 오류 발생
tuple2 = (1, 2, 3, 4)
del tuple2[0]

TypeError: 'tuple' object doesn't support item deletion

### **6. 딕셔너리 자료형 (dictionary)**

#### **6-1. 딕셔너리 선언**
- 딕셔너리는 중괄호 { }로 선언하며, '키 : 값' 형태를 쉼표(,)로 연결하려 생성
- 일반적으로 키는 문자열을 사용
- { key1 : value1, key2 : value2, ... key_n : value_n }

In [ ]:
# 딕셔너리 선언

myDictionary = {
    "name" : "Keryn",
    "job" : "data analyst"
}

In [ ]:
# 딕셔너리 값 출력
print(myDictionary['name'])
print(myDictionary['job'])

Keryn
data analyst

#### **6-2. 변경과 삭제**
- 딕셔너리는 값을 변경하거나 삭제할 수 있음

In [ ]:
# 딕셔너리 값 추가
myDictionary['grade'] = [98, 100, 88]
print(myDictionary)

{'name': 'Keryn', 'job': 'data analyst', 'grade': [98, 100, 88]}

In [ ]:
# 딕셔너리 값 수정

myDictionary['grade'] = [100, 100, 90]
print(myDictionary)

{'name': 'Keryn', 'job': 'data analyst', 'grade': [100, 100, 90]}

In [ ]:
# 딕셔너리 값 삭제
del myDictionary['grade']
print(myDictionary)

{'name': 'Keryn', 'job': 'data analyst'}

#### **6-3. 관련 함수**
- keys() : key 리스트 만들기
- values() : value 리스트 만들기
- items() : key, value 쌍 얻기
- get() : key로 value 얻기
- in() : 해당 key가 딕셔너리 안에 있는지 조사
- clear() : key:value 쌍 모두 지우기

In [ ]:
# 딕셔너리 생성
myDictionary = {
    "name" : "keryn",
    "job" : "data analyst",
    "grade" : [100, 90, 80]
}
print(myDictionary)

{'name': 'keryn', 'job': 'data analyst', 'grade': [100, 90, 80]}

In [ ]:
# keys() : key 리스트 만들기
myDictionary.keys()

dict_keys(['name', 'job', 'grade'])

In [ ]:
# values() : value 리스트 만들기
myDictionary.values()

dict_values(['keryn', 'data analyst', [100, 90, 80]])

In [ ]:
# items() : key, value 쌍 얻기
myDictionary.items()

dict_items([('name', 'keryn'), ('job', 'data analyst'), ('grade', [100, 90, 80])])

In [ ]:
# get() : key로 value 얻기
print(myDictionary.get('grade'))
print(myDictionary.get('hobby'))

[100, 90, 80]
None

In [ ]:
# in() : 해당 key가 딕셔너리 안에 있는지 조사
print('name' in myDictionary)
print('hobby' in myDictionary)

True
False

In [ ]:
# clear() : key:value 쌍 모두 지우기

myDictionary.clear()
print(myDictionary)

{}

### **7. 집합 자료형 (set)**

#### **7-1. 집합 생성**
- set 키워드를 통해 생성

In [ ]:
# 리스트 입력하여 집합 생성

set1 = set([10, 11, 12])
print(set1)
print(type(set1))

{10, 11, 12}
<class 'set'>

In [ ]:
# 문자열 입력하여 집합 생성
# 중복을 허용하지 않기 때문에 e가 하나만 출력
# 비순서 자료형 : 인덱싱 지원 안 함

set2 = set("Selena")
print(set2)
print(type(set2))

{'e', 'l', 'S', 'n', 'a'}
<class 'set'>

#### **7-2. 교집합, 합집합, 차집합**
- 집합 자료형은 합집합, 교집합, 차집합을 구할 때 유용
> - 합집합 : |
> - 교집합 : &
> - 차집합 : -

In [ ]:
# 집합 생성
set1 = {1, 2, 3, 4, 5}
set2 = {1, 3, 5, 7, 9}

In [ ]:
# 합집합
print(set1 | set2)

{1, 2, 3, 4, 5, 7, 9}

In [ ]:
# 교집합
print(set1 & set2)

{1, 3, 5}

In [ ]:
# 차집합

print(set1 - set2)

{2, 4}

#### **7-3. 관련 함수**
- add() : 한 개의 값 추가
- update() : 여러 개의 값 추가
- remove() : 특정 값 제거

In [ ]:
# 집합 생성
set1 = {1, 2, 3, 4, 5}

In [ ]:
# add() : 한 개의 값 추가
set1.add(10)
set1

{1, 2, 3, 4, 5, 10}

In [ ]:
# update() : 여러 개의 값 추가

set1.update([11,12,13])
set1

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [ ]:
# remove() : 특정 값 제거

set1.remove(1)
set1

{2, 3, 4, 5, 10, 11, 12, 13}

### **8. 부울 자료형 (bool)**
- 참과 거짓을 나타내는 자료형
- 주로 조건문의 반환 값으로 사용

In [ ]:
# 조건문의 반환 값
"apple" == "apple"

True

In [ ]:
# 조건문의 반환 값
10 < 11

True

In [ ]:
# 조건문의 반환 값
10 < 11

True

#### **8-1. 변하지 않는 참과 거짓**
- 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있다면 False (거짓)
- 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있지 않다면 True (참)
- if 문(조건문)으로 참, 거짓 판별

In [ ]:
# if문(조건문)에서 True면 내부 코드 실행, False면 내부 코드 실행하지 않고 통과
# "python"이라는 문자열은 값이 비어 있지 않음 -> True

if "python" :
  print("True")
else:
  print("False")

True

In [ ]:
# if문(조건문)에서 True면 내부 코드 실행, False면 내부 코드 실행하지 않고 통과
# []이라는 빈 리스트는 값이 비어 있음 -> False

if [] :
  print("True")
else :
  print("False")

False

In [ ]:
# if문(조건문)에서 True면 내부 코드 실행, False면 내부 코드 실행하지 않고 통과
# 이분법에서 1은 True이며 0은 False를 의미

if 1 :
  print("True")
else :
  print("False")

True

In [ ]:
# if문(조건문)에서 True면 내부 코드 실행, False면 내부 코드 실행하지 않고 통과
# 이분법에서 1은 True이며 0은 False를 의미

if 0:
  print("True")
else :
  print("False")

False

In [ ]:
# 조건문이 아닌 bool 함수를 통해 True, False를 출력할 수 있음
# ''이라는 빈 문자열은 값이 비어 있음 -> False

False

In [ ]:
# 조건문이 아닌 bool 함수를 통해 True, False를 출력할 수 있음
# [1,2,3]이라는 리스트는 값이 비어 있지 않음 -> True

True

# **자기 주도 학습 복습 과제 - 문제**
* 문제를 풀고 답을 확인하세요 :)
* 정답지에 자세히 설명되어 있습니다.
* [정답지 링크](https://drive.google.com/file/d/16MIYxpvONYD4eb2bkg-0ZAXD3RG3b0ss/view?usp=sharing)

## **1. 자료형 문제 (1)**

* 문자열 출력

In [ ]:
# 1) 이스케이프 문자를 사용하여 '파이썬 '자료형' 완벽 정복!' 문자열 출력
# 주의 사항 : 작은 따옴표만 사용하기!

In [ ]:
# 2) 문자열 반복 연산자를 사용하여 아래와 동일한 문자열 출력('*'문자 20개 사용)
# ********************
# 파이썬 '자료형' 정복
# ********************

## **2. 자료형 문제 (2)**

* 문자열 인덱싱과 슬라이싱

In [ ]:
# 1) sentence 문자열에서 '하' 문자를 출력
sentence = '파이썬 하루만에 끝내보자!'

In [ ]:
# 2) sentence 문자열에서 '끝내보자' 문자를 출력
sentence = '파이썬 하루만에 끝내보자!'

## **3. 자료형 문제 (3)**

* 문자열 포맷팅

In [ ]:
# 1) 숫자 부분에 % 연산자 포맷팅을 사용하여 아래와 동일한 문자열 출력
# 9 x 9 = 81

In [ ]:
# 2) 숫자 부분에 .format 포맷팅을 사용하여 아래와 동일한 문자열 출력
# 9 x 9 = 81

## **4. 자료형 문제 (4)**

* 문자열 관련 함수

In [ ]:
# 1) 함수를 사용하여 '골프'를 '수영'으로 바꾼 문자열 출력
sentence = "운동 : 풋살 승마 골프"

In [ ]:
# 2) 함수를 사용하여 대문자를 소문자로 바꾼 문자열 출력
sentence = "PyThon"

## **5. 자료형 문제 (5)**

* 리스트 인덱싱

In [ ]:
myList = [2024, 3, 9*9, ['풋살', ['승마', '수영']]]
print(myList)

In [ ]:
# 1) myList 리스트에서 인덱싱 이용하여 3 숫자 출력

In [ ]:
# 2) myList 리스트에서 인덱싱 이용하여 '승마' 문자 출력

In [ ]:
# 3) myList 리스트에서 인덱싱 이용하여 '수영'에서 '영' 문자 출력

## **6. 자료형 문제 (6)**

* 리스트 변경과 삭제

In [ ]:
myList = [2024, 3, 9*9, ['풋살', ['승마', '수영']]]
print(myList)

In [ ]:
# 1) myList 리스트에서 '풋살'을 '야구'로 바꿔서 출력

In [ ]:
# 2) myList 리스트에서 '야구' 값 삭제

## **7. 자료형 문제 (7)**

* 리스트 관련 함수

In [ ]:
myList = [2024, 3, 9*9, ['풋살', ['승마', '수영']]]
print(myList)

In [ ]:
# 1) myList 리스트에서 3번째 위치에 "삽입" 문자열 삽입

## **8. 자료형 문제 (8)**

* 튜플 슬라이싱

In [ ]:
# 1) myTuple 튜플에서 슬라이싱을 이용하여 2번째 인덱스부터 3번째 인덱스까지 출력

## **9. 자료형 문제 (9)**

* 튜플 연산자

In [ ]:
# 1) myTuple1, myTuple2 튜플을 이용하여 아래와 동일한 결과 출력
# (1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6)
myTuple1 = (1, 2, 3)
myTuple2 = (4, 5, 6)

## **10. 자료형 문제 (10)**

* 딕셔너리 선언

In [ ]:
# 1) myDictionary 변수에 아래와 동일한 딕셔너리 선언하여 출력
# {'name': '자신의 영어 이름', 'hobby': 'soccer'}

## **11. 자료형 문제 (11)**

* 딕셔너리 변경과 삭제

In [ ]:
# 1) myDictionary 딕셔너리에 key = 'grade', value = [90, 100, 80] 추가하여 출력

In [ ]:
# 2) myDictionary 딕셔너리에 key = 'grade', value = [100, 100, 90] 값 수정하여 출력

In [ ]:
# 3) myDictionary 딕셔너리에 key = 'grade' 삭제

## **12. 자료형 문제 (12)**

* 딕셔너리 관련 함수

In [ ]:
# 1) myDictionary 딕셔너리에서 함수를 이용하여 key, value 쌍 얻기

In [ ]:
# 2) myDictionary 딕셔너리에서 함수를 이용하여 key에 'job' 있는지 조사

## **13. 자료형 문제 (13)**

* 집합 선언

In [ ]:
# 1) 리스트 [1, 2, 3, 4] 입력하여 mySet1 집합 선언하여 출력
# 비순서 자료형 : 인덱싱 지원 안 함

In [ ]:
# 2) 리스트 [2, 4, 6, 8] 입력하여 mySet2 집합 선언하여 출력
# 비순서 자료형 : 인덱싱 지원 안 함

## **14. 자료형 문제 (14)**

* 집합 합집합, 교집합, 차집합

In [ ]:
# 1) mySet1, mySet2 집합을 통해 합집합 출력
# 중복을 허용하지 않음

In [ ]:
# 2) mySet1, mySet2 집합을 통해 교집합 출력

In [ ]:
# 3) mySet1, mySet2 집합을 통해 차집합 출력