# STEP 12. 데이터 처리

## **1. Pandas 기본 개념**

*   pandas 패키지 추가
*   패키지가 없는 경우, 설치 명령어 : pip install pandas

In [ ]:
# pandas 패키지 로드하여 pd로 사용
# numpy 패키지 로드하여 np로 사용
import numpy as np
import pandas as pd

## **2. Kaggle, Titanic 데이터 설명**

## **3. Pandas 데이터 형식**

### **3-1. Series**

In [ ]:
# 딕셔너리로 Series 생성
# 딕셔너리의 키는 시리즈의 인덱스와 대응하고,
# 딕셔너리의 각 키에 매칭되는 값은 시리즈의 데이터 값으로 변환됨.
dict_data = {'a':1,'b':2,'c':3}
series_data = pd.Series(dict_data)

In [ ]:
# 데이터 타입, 내용 확인
print(type(series_data))
print(series_data)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [ ]:
# 리스트로 Series 생성
# 리스트를 시리즈로 변환할 때는 딕셔너리의 키처럼 인덱스로 변환될 값이 없음.
# 인덱스를 별도로 지정하지않으면 디폴트로 정수형 위치 인덱스가 지정됨.
list_data = ['2022-10-11',3.14,'ABC',100,True]
series_data = pd.Series(list_data)

In [ ]:
# 데이터 타입, 내용 확인
print(type(series_data))
print(series_data)

<class 'pandas.core.series.Series'>
0    2022-10-11
1          3.14
2           ABC
3           100
4          True
dtype: object

### **3-2. dataframe**

In [ ]:
# 딕셔너리로 Dataframe 생성
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)

In [ ]:
# 데이터 타입, 내용 확인
# 1개의 열들이 1개의 시리즈라고 했으므로, 키값이 열 이름이 됨.
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

## **4. Pandas 파일 불러오기**
- [titanic.csv 파일 다운로드 링크](https://drive.google.com/file/d/1tmJhMoD5VXXAYGFqdVu1_V7Y6g1j_3Hr/view?usp=sharing)

In [ ]:
# colab 업로드 메뉴를 통해 드라이브 업로드
# csv 파일 읽어오기

## **5. Pandas 데이터 내용 확인**
- `.columns` : 컬럼명 확인
- `.head()` : 데이터의 상단 5개 행 출력
- `.tail()` : 데이터의 하단 5개 행 출력
- `.shape` : (행, 열) 크기 확인
- `.info()` : 데이터에 대한 전반적인 정보 제공
> - 행과 열의 크기
> - 컬럼명
> - 컬럼별 결측치
> - 컬럼별 데이터 타입
- `.type()` : 데이터 타입 확인

In [ ]:
# 데이터의 컬럼명 확인
titanic = pd.read_csv("/content/titanic.csv")

In [ ]:
# .head() : 데이터의 상단 5개 행 출력
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# .tail() : 데이터의 하단 5개 행 출력
titanic.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
# .shape :(행, 열) 크기 확인
titanic.shape

(891, 12)

In [ ]:
# .info() :데이터에 대한 전반적인 정보 제공
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# type() : 데이터 타입 확인
type(titanic)

pandas.core.frame.DataFrame

## **6. Pandas 특정 열 선택**

### **6-1. 특정 열 선택 (시리즈 반환)**

- 열 1개 선택 = 시리즈(Series) 객체 반환
- 데이터프레임의 열 데이터를 1개만 선택할 때는 2가지 방식
> - 대괄호([ ]) 안에 열 이름을 따옴표(“ ”)와 함께 입력
> - 도트(.) 다음에 열 이름을 입력

In [ ]:
# 열 1개 선택 = 시리즈(Series) 객체 반환
# 대괄호([ ]) 안에 열 이름을 따옴표(“ ”)와 함께 입력
# 데이터 내용 확인
names = titanic['Name']
names.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [ ]:
# 열 1개 선택 = 시리즈(Series) 객체 반환
# 도트(.) 다음에 열 이름을 입력
# 데이터 내용 확인
names = titanic.Name
names.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [ ]:
# 데이터 타입과 크기 확인
print(type(names))
print(names.shape)

<class 'pandas.core.series.Series'>
(891,)

### **6-2. 특정 열 선택 (데이터프레임 반환)**

- 열 n개 선택 = 데이터프레임(DataFrame) 객체 반환
- 데이터프레임의 열 데이터를 n개 선택할 때는 1가지 방식
> - 2중 대괄호([[ ]]) 안에 열 이름을 따옴표(“ ”)와 함께 입력

In [ ]:
# 열 n개 선택 = 데이터프레임(DataFrame) 객체 반환
# 2중 대괄호([[ ]]) 안에 열 이름을 따옴표(“ ”)와 함께 입력
# "sex", "age" column만 추출하여 재 구성
# 데이터 내용 확인
passenger = titanic[["Sex", "Age"]]
passenger.head()

      Sex   Age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0

In [ ]:
# 데이터 타입과 크기 확인
print(type(passenger))
print(passenger.shape)

<class 'pandas.core.frame.DataFrame'>
(891, 2)

## **7. Pandas 데이터 필터링**

### **7-1. 불리언(Boolean) 인덱싱**
- `불리언(Boolean) 인덱싱` : True 값을 가진 행만 추출

In [ ]:
# 조건 : 35살 초과인 데이터 추출 (True, False 반환)
print(passenger["Age"] > 35)

0      False
1       True
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [ ]:
# 조건 : 35살 초과인 데이터 추출
# 불리언(Boolean) 인덱싱 : 조건의 결과가 True 값인 행만 추출
above35 = passenger[passenger["Age"] > 35]

above35.head()

       Sex   Age
1   female  38.0
6     male  54.0
11  female  58.0
13    male  39.0
15  female  55.0

### **7-2. 불리언 인덱싱 + .isin( )**
- `.isin( )` : 각각의 요소가 데이터프레임 또는 시리즈에 존재하는지 파악하여 True/False 값 반환
- `불리언 인덱싱 + .isin( )` : 데이터의 특정 범위만 추출

In [ ]:
# 데이터 내용 확인
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
# .isin 함수는 각각의 요소가 데이터프레임 또는 시리즈에 존재하는지 파악하여 True/False 값 반환
# Pclass 변수의 값이 1일 경우, True/False 값 반환
titanic.Pclass.isin([1])

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Pclass, Length: 891, dtype: bool

In [ ]:
# 불리언 인덱싱 + .isin( ) : 데이터의 특정 범위만 추출
# Pclass 변수의 값이 1일 경우만 추출하여 class1 저장
class1 = titanic[titanic.Pclass.isin([1])]
class1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [ ]:
# 데이터 내용 확인
passenger.head(2)

      Sex   Age
0    male  22.0
1  female  38.0

In [ ]:
# 불리언 인덱싱 + .isin( ) : 데이터의 특정 범위만 추출
# Age 변수의 값이 20살부터 40살까지의 범위만 추출하여 age2040 저장
age2040 = passenger[passenger.Age.isin(np.arange(20, 41))]
age2040.head()

      Sex   Age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0

### **7-3. .isna( )와 .notna( )**
- `.isna( )` : 결측 값은 True 반환, 그 외에는 False 반환
- `.notna( )` : 결측 값은 False 반환, 그 외에는 True 반환

In [ ]:
# 결측 값 파악을 위한 데이터 확인
passenger.head(7)

      Sex   Age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0
5    male   NaN
6    male  54.0

In [ ]:
# .isna( ) : 결측 값은 True 반환, 그 외에는 False 반환
# .isna 함수는 데이터프레임 내에 결측 값을 확인하기 위해 사용
# 5번째 행 True 출력
passenger.Age.isna()[0:7]

0    False
1    False
2    False
3    False
4    False
5     True
6    False
Name: Age, dtype: bool

In [ ]:
# 결측 값을 확인
ages = passenger[passenger.Age.isna()]
ages.head(2)

     Sex  Age
5   male  NaN
17  male  NaN

In [ ]:
# 결측 값 파악을 위한 데이터 확인
passenger.head(7)

      Sex   Age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0
5    male   NaN
6    male  54.0

In [ ]:
# .notna( ) : 결측 값은 False 반환, 그 외에는 True 반환
# .notna 함수는 누락되지 않은 값을 찾기 위해 사용
# 5번째 행 False 출력
passenger.Age.notna()[0:7]

0     True
1     True
2     True
3     True
4     True
5    False
6     True
Name: Age, dtype: bool

In [ ]:
# 결측 값을 제거한 누락되지 않은 값을 확인
# 5번째 행 제거
ages = passenger[passenger.Age.notna()]
ages.head(7)

      Sex   Age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0
6    male  54.0
7    male   2.0

## **8. Pandas 결측치 제거**
- `.dropna( ) == .dropna(axis=0)` : 결측 값이 들어있는 행 전체 삭제
- `.dropna(axis=1)` : 결측 값이 들어있는 열 전체 삭제
- `.notna( )` : 결측 값은 False 반환, 그 외에는 True 반환

In [ ]:
# 결측 값 파악을 위한 데이터 확인
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
# .dropna(axis=0) : 결측 값이 들어있는 행 전체 삭제
titanic.dropna(axis=0).head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [ ]:
# .dropna(axis=1) : 결측 값이 들어있는 열 전체 삭제
titanic.dropna(axis=1).head(3)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250

## **9. Pandas 이름과 인덱스로 특정 행과 열 선택**
- `.loc[]` : 행 이름과 열 이름을 사용
- `.iloc[]` : 행 번호와 열 번호를 사용

In [ ]:
# .loc[] : 행 이름과 열 이름을 사용
# 나이가 35세 초과인 사람의 이름과 나이 출력
names35 = titanic.loc[titanic.Age > 35, ["Name", "Age"]]
names35.head()

                                                 Name   Age
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
6                             McCarthy, Mr. Timothy J  54.0
11                           Bonnell, Miss. Elizabeth  58.0
13                        Andersson, Mr. Anders Johan  39.0
15                   Hewlett, Mrs. (Mary D Kingcome)   55.0

In [ ]:
# .iloc[] : 행 번호와 열 번호를 사용
# 1번째행부터 3번째행까지의 0번째 열의 값을 "No name" 변경
names35.iloc[[1, 2, 3], 0] = "No name"
names35.head()

                                                 Name   Age
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
6                                             No name  54.0
11                                            No name  58.0
13                                            No name  39.0
15                   Hewlett, Mrs. (Mary D Kingcome)   55.0

## **10. Pandas 데이터 통계**
- `.mean()` : 평균값
- `.median()` : 중앙값
- `.describe()` : 다양한 통계량 요약
- `.agg()` : 여러개의 열에 다양한 함수를 적용
    *   모든열에 여러 함수를 매핑 : group객체.agg([함수1, 함수2, 함수3, …])
    *   각 열마다 다른 함수를 매핑 : group객체.agg({‘열1’: 함수1, ‘열2’: 함수2, …})
- `.groupby()` : 그룹별 집계
- `.value_counts()` : 값의 개수

In [ ]:
# Age 변수의 평균 구하기
print(titanic.Age.mean())

29.69911764705882

In [ ]:
# Age 변수의 중앙값 구하기
print(titanic.Age.median())

28.0

In [ ]:
# describe() 함수를 통해 다양한 통계량 요약
# 특정 변수 "Age", "Fare" 추출
print(titanic[["Age", "Fare"]].describe())

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [ ]:
# agg()를 통해 여러 개의 열에 다양한 함수를 적용
# 모든 열에 여러 함수를 매핑 : group객체.agg([함수1, 함수2, 함수3,…])
# 각 열마다 다른 함수를 매핑 : group객체.agg({‘열1’: 함수1, ‘열2’: 함수2, …})
print(titanic.agg({"Age" : ["min", "max", "median", "std"],
                   "Fare" : ["min", "max", "mean", "median"]
                   }))

              Age        Fare
min      0.420000    0.000000
max     80.000000  512.329200
median  28.000000   14.454200
std     14.526497         NaN
mean          NaN   32.204208

In [ ]:
# groupby() 함수를 이용하여 그룹별 집계 <예제 1>
# groupby로 성별과 클래스로 묶어주고 나이와 요금의 평균 구하기
titanic.groupby(["Sex", 'Pclass'])[["Age", "Fare"]].mean()

                     Age        Fare
Sex    Pclass
female 1       34.611765  106.125798
       2       28.722973   21.970121
       3       21.750000   16.118810
male   1       41.281386   67.226127
       2       30.740707   19.741782
       3       26.507589   12.661633

In [ ]:
# groupby() 함수를 이용하여 그룹별 집계 <예제 2>
# groupby를 통해 성별을 묶은 다음, 생존율의 평균 구하기
survive = titanic.groupby("Sex")['Survived'].mean()
(survive * 100).head()

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

In [ ]:
# .value_counts( ) 함수를 이용하여 개수 구하기
titanic["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

## **11. Pandas 행과 열 추가와 삭제**

### **11-1. 행 추가**
- 행 추가 : DataFrame.loc[‘새로운 행 이름‘] = 데이터 값

In [ ]:
# 데이터 내용 확인
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
# 데이터 크기 확인
print(titanic.shape)

(891, 12)

In [ ]:
# 행 추가 : DataFrame.loc[‘새로운 행 이름‘] = 데이터 값
# newRow 변수에 titanic 데이터의 0번째 행, 모든 열을 삽입(titanic.iloc[0,:])
# .loc 함수를 사용하여 891 이름을 가진 행 자리에 newRow 데이터 삽입
newRow = titanic.iloc[0,:]
titanic.loc[891] = newRow
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
891,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S

In [ ]:
# 행이 891에서 892로 증가
print(titanic.shape)

(892, 12)

### **11-2. 열 추가**
- 열 추가 : DataFrame 객체[‘추가하려는 열 이름‘] = 데이터 값

In [ ]:
# 열 추가 : DataFrame 객체[‘추가하려는 열 이름‘] = 데이터 값
# Pclass * 3 값을 새로운 '3Pclass' 열을 추가
titanic['3Pclass'] = titanic["Pclass"] * 3

In [ ]:
# 맨 끝에 3Pclass 열 생성
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,3Pclass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,9
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,9
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,9

In [ ]:
# 열이 12에서 13로 증가
print(titanic.shape)

(892, 13)

### **11-3. 행 삭제**
- 행 삭제 : DataFrame.drop(index, axis = 0)

In [ ]:
# drop 함수를 사용하여 880번째 행부터 889번째 행까지 삭제
titanic = titanic.drop(np.arange(880,890), axis = 0)

### **11-4. 열 삭제**
- 열 삭제 : DataFrame.drop(변수명, axis = 1)

In [ ]:
# drop 함수를 사용하여 '3Pclass' 열 삭제
titanic = titanic.drop('3Pclass', axis = 1)

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
891,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S

## **1. 구글 Colab 드라이브 마운트**
* 구글 Colab 드라이브 마운트
* 수업 시간에는 titanic.csv 파일을 코랩내 휘발성 저장소(왼쪽 파일 메뉴를 누르면 나오는 세션 저장소)에 저장해서 불러왔습니다.   
* 복습 시간에는 구글 드라이브에 올려서 불러올게요.

### **1-1. 간단한 드라이브 마운트**
* 1) 왼쪽 파일 메뉴를 누른 후에 세 번째에 해당하는 드라이브 마운트 아이콘 클릭
* 2) 코드창에 드라이브 마운트 코드 자동 생성
* 3) 코드를 실행 후 팝업창이 나오면 'Goole Drive에 연결' 버튼 클릭
* 4) 왼쪽 파일 메뉴에서 두 번째 아이콘인 새로고침을 누르고 드라이브 폴더 생성된 걸 확인
* 5) 드라이브 내 원하는 파일의 경로를 복사하여 실습 진행

* 1) 왼쪽 파일 메뉴를 누른 후에 세 번째에 해당하는 드라이브 마운트 아이콘 클릭

![image.png]()

* 2) 코드창에 드라이브 마운트 코드 생성

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

* 3) 코드를 실행 후 팝업창이 나오면 'Goole Drive에 연결' 버튼 클릭

![image.png]()

* 4) 왼쪽 파일 메뉴에서 두 번째 아이콘인 새로고침을 누르고 드라이브 폴더 생성된 걸 확인

![image.png]()

* 5) 드라이브 내 원하는 파일의 경로를 복사하여 실습 진행

In [ ]:
# csv 파일 읽어오기
titanic = pd.read_csv("/content/drive/MyDrive/titanic.csv")

### **1-2. drive 모듈을 이용한 드라이브 마운트**
* 간혹 1-1 방법을 했을 때 동일하게 나오지 않는 분들이 계셔서 다른 방법도 알려드려요. :)
* 1) 왼쪽 파일 메뉴를 누른 후에 세 번째에 해당하는 드라이브 마운트 아이콘 클릭
* 2) 코드 창에 드라이브 마운트 코드 자동 생성
* 3) 코드를 실행 후 'Go to this URL in a browser : ____' 에서 링크 클릭
* 4) 계정 연동 허가를 완료하면 인증키가 생성됨, 인증키 복사
* 5) 코드 실행 후 출력된 결과로 돌아와서 'Enter your authorization code :'에 인증키 입력
* 6) 왼쪽 파일 메뉴에서 두 번째 아이콘인 새로고침을 누르고 드라이브 폴더 생성된 걸 확인
* 7) 드라이브 내 원하는 파일의 경로를 복사하여 실습 진행

* 1) 왼쪽 파일 메뉴를 누른 후에 세 번째에 해당하는 드라이브 마운트 아이콘 클릭 (1-1과 동일)
* 2) 코드 창에 드라이브 마운트 코드 자동 생성 (1-1과 동일)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

* 3) 코드를 실행 후 'Go to this URL in a browser : ____' 에서 링크 클릭

![image.png]()

* 4) 계정 연동 허가를 완료하면 인증키가 생성됨, 인증키 복사

![image.png]()

* 5) 코드 실행 후 출력된 결과로 돌아와서 'Enter your authorization code :'에 인증키 입력

![image.png]()

* 6) 왼쪽 파일 메뉴에서 두 번째 아이콘인 새로고침을 누르고 드라이브 폴더 생성된 걸 확인 (1-1과 동일)
* 7) 드라이브 내 원하는 파일의 경로를 복사하여 실습 진행 (1-1과 동일)

## **2. Pandas 문제 (1)**

* Pandas 선언

In [ ]:
# 1) pandas 패키지 로드하여 pd로 사용
# 2) numpy 패키지 로드하여 np로 사용
import pandas as pd
import numpy as np

## **3. Pandas 문제 (2)**

* Pandas 파일 업로드
* [titanic.csv 파일 다운로드 링크](https://drive.google.com/file/d/1Q-Q2Y9nhHzAFAipnOcbWNGatPTlzBXNl/view?usp=sharing)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 1) '1. 구글 Colab 드라이브 마운트' 참고하여 드라이브 마운트 진행
# 2) 자신의 구글 드라이브에 titanic.csv 업로드(강의폴더 참고)
# 3) 파일의 경로를 복사하여 titanic.csv 파일 불러오기
titanic = pd.read_csv('/content/drive/MyDrive/AI Lab/AI Lab_온라인강의/EDA(기초)/titanic.csv')

## **4. Pandas 문제 (3)**

* Pandas 데이터 내용 확인

In [ ]:
# 1) titanic 데이터 상단의 9개 행 출력
titanic.head(9)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S

In [ ]:
# 2) titanic 데이터 크기 확인
titanic.shape

(891, 12)

In [ ]:
# 3) titanic 데이터의 행과 열 크기, 컬럼명, 컬럼별 결측치, 컬럼별 데이터 타입 출력해주는 함수 구현
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## **5. Pandas 문제 (4)**

* Pandas 특정 열 선택

In [ ]:
# 1) titanic 데이터에서 'Age' 열을 선택하여 titanic_age 변수에 삽입하여 head 함수 이용하여 출력
titanic_age = titanic.Age
print(titanic.Age.head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [ ]:
# 2) titanic_age 변수가 Series(시리즈) 객체인지 출력하여 데이터 타입 확인
print(type(titanic_age))

<class 'pandas.core.series.Series'>

In [ ]:
# 3) titanic_age 변수 크기 출력
titanic_age.shape

(891,)

In [ ]:
# 4) titanic 데이터에서 'Fare', 'Cabin' 열을 선택하여 titanic_fare_cabin 변수에 삽입하여 head 함수 이용하여 출력
# 2중 대괄호([[ ]]) 안에 열 이름을 따옴표(“ ”)와 함께 입력
# "Fare", "Cabin" column만 추출하여 재 구성
titanic_fare_cabin = titanic[["Fare", "Cabin"]]
print(titanic_fare_cabin.head())

      Fare Cabin
0   7.2500   NaN
1  71.2833   C85
2   7.9250   NaN
3  53.1000  C123
4   8.0500   NaN

In [ ]:
# 5) titanic_fare_cabin 변수가 데이터프레임(DataFrame) 객체인지 출력하여 데이터 타입 확인
print(type(titanic_fare_cabin))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 6) titanic_fare_cabin 변수 크기 출력
titanic_fare_cabin.shape

(891, 2)

## **6. Pandas 문제 (5)**

* Pandas 데이터 필터링

In [ ]:
# 1) 조건 : '5. Pandas 문제 (4)-4' 에서 가공한 titanic_fare_cabin 데이터에서 fare(요금)이 50 이상인 사람은 True 출력, 그외는 False 출력
# 2) (1) 조건을 적용한 값 출력 (True, False 반환)
titanic_fare_cabin["Fare"] >=50

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [ ]:
# 3) 조건 : '5. Pandas 문제 (4)-4' 에서 가공한 titanic_fare_cabin 데이터에서 fare(요금)이 50이상인 사람만 적용하여 추출
# 불리언(Boolean) 인덱싱 : 조건의 결과가 True 값인 행만 추출
titanic_fare_cabin[titanic_fare_cabin["Fare"] >=50]

         Fare        Cabin
1     71.2833          C85
3     53.1000         C123
6     51.8625          E46
27   263.0000  C23 C25 C27
31   146.5208          B78
..        ...          ...
856  164.8667          NaN
863   69.5500          NaN
867   50.4958          A24
871   52.5542          D35
879   83.1583          C50

[161 rows x 2 columns]

## **7. Pandas 문제 (6)**

* Pandas 결측치 제거

In [ ]:
# 1) 원본 titanic 데이터에서 결측 값이 존재하는 열 제거하여 출력
titanic.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

## **8. Pandas 문제 (7)**

* Pandas 인덱스로 특정 행과 열 선택

In [ ]:
# 1) '5. Pandas 문제 (4)-4' 에서 가공한 titanic_fare_cabin 데이터에서 3번째 행, 0번째 열의 값을 "1000"으로 변경
# 2) 상단 5개의 행 출력
titanic_fare_cabin.iloc[3, 0] = 1000
print(titanic_fare_cabin.head())

        Fare Cabin
0     7.2500   NaN
1    71.2833   C85
2     7.9250   NaN
3  1000.0000  C123
4     8.0500   NaN

## **9. Pandas 문제 (8)**

* Pandas 데이터 통계

In [ ]:
# 1) '8. Pandas 문제 (7)-1'에서 가공한 titanic_fare_cabin 데이터에서 'Fare' 변수의 다양한 통계 요약
titanic_fare_cabin["Fare"].describe()

count     891.000000
mean       33.266946
std        59.331335
min         0.000000
25%         7.910400
50%        14.454200
75%        31.000000
max      1000.000000
Name: Fare, dtype: float64

In [ ]:
# 2) 원본 titanic 데이터에서 'Survived', 'Pclass'로 묶어주고 'Age'와 'Fare' 평균 구하기
titanic.groupby(["Survived", 'Pclass'])[["Age", "Fare"]].mean()

                       Age       Fare
Survived Pclass
0        1       43.695312  64.684007
         2       33.544444  19.412328
         3       26.555556  13.669364
1        1       35.368197  95.608029
         2       25.901566  22.055700
         3       20.646118  13.694887

In [ ]:
# 3) 원본 titanic 데이터에서 'Survived'의 각 카테고리별 개수 구하기
# .value_counts( ) 함수를 이용하여 개수 구하기
titanic["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

## **10. Pandas 문제 (9)**

* Pandas 열 추가

In [ ]:
# 1) 원본 titanic 데이터에서 "Pclass" 변수에 10을 곱하여 "10Pclass" 변수에 저장하여 출력
titanic["10Pclass"] = titanic["Pclass"] * 10
print(titanic.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  10Pclass
0      0         A/5 21171   7.2500   NaN        S        30
1      0          PC 17599  71.2833   C85        C        10
2      0  STON/O2. 3101282   7.9250   NaN        S        30
3      0            113803  53.1000  C123        S        10
4      0            373450   8.0500   NaN        S        30