[공지사항]
* 제작 과정에서 강의명이 변경되어 영상 및 강의 자료에 표기된 강의명은 촬영 시점에 사용된 것으로, 강의 내용에는 변동이 없음을 안내드리오며 수강에 혼선 없으시길 바랍니다.

# **STEP 6. 함수**

## **01. 함수 (function)**

### **1. 기본 구조**
- 반복적으로 사용되는 기능을 함수로 사용
- 함수는 def 키워드 사용하여 생성

In [ ]:
# add 함수 정의
# 매개변수 x와 y를 입력으로 받기
# x + y 코드를 계산하여 출력
def add(x, y):
  return x + y

In [ ]:
# add 함수를 호출하여 인수로 3과 6 입력
# z값에 함수의 결과를 출력하여 저장
z = add(3, 6)
print(z)

9

### **2. 매개변수 (parameter)**
- 함수에 입력으로 전달된 값을 받는 변수

#### **2-1. 디폴트 매개변수**
- 매개변수의 값이 입력되지 않으면 디폴트 값으로 자동 입력
- 매개변수가 여러 개인 경우 뒤의 매개변수부터 디폴트 값을 가질 수 있음

In [ ]:
# add 함수 정의
# 매개변수 x와 y를 입력으로 받기
# y는 디폴트 매개변수로 입력이 없다면 디폴트 값으로 자동 입력
# x + y 코드를 계산하여 출력
def add(x, y=3):
  return x + y

In [ ]:
# add 함수를 호출하여 인수로 3과 6 입력
# z값에 함수의 결과를 출력하여 저장
# y 매개변수에 값을 입력하면 그대로 입력
z = add(3, 6)
print(z)

9

In [ ]:
# add 함수를 호출하여 인수로 3만 입력
# z값에 함수의 결과를 출력하여 저장
# y 매개변수에 입력이 없다면 디폴트 값으로 자동 입력
z = add(3)
print(z)

6

#### **2-2. 가변 매개변수**
- 원하는 만큼의 인자를 받을 수 있는 함수를 가변 매개변수를 사용한다고 표현
- \*매개변수 : 가변 매개변수는 매개변수 앞에 *를 붙임

In [ ]:
# values라는 가변 매개변수
# menu 함수를 통해 카페 메뉴 출력
# 가변 매개변수는 리스트처럼 사용
def menu(*values):
  print("카페의 메뉴는?")

  for value in values:
    print(value)

In [ ]:
# 정의한 menu 함수 호출
# 인수로 4가지 메뉴 입력
menu('코코아', '캐모마일', '얼그레이', '에이드')

카페의 메뉴는?
코코아
캐모마일
얼그레이
에이드

#### **2-3. 키워드 매개변수**
- 매개변수의 이름을 지정해서 입력하여 함수 호출
- 키워드 매개변수를 넘겨줄 때 매개변수의 순서와 상관없이 나열 가능

In [ ]:
# add 함수 정의
# 매개변수 x와 y, 그리고 z는 디폴트 매개변수
# x + y + z 코드를 계산하여 출력
def add(x=1, y=2, z=3):
  return x + y + z

In [ ]:
# 키워드 매개변수를 사용하여 add 함수 호출
# 키워드 매개변수를 넘겨줄 때 매개변수의 순서와 상관없이 나열 가능
# 키워드 매개변수는 x, y, z
add(y=5, z=5, x=1)

11

### **3. 인수 (arguments)**
- 함수를 호출할 때 전달하는 입력 값

- ```
함수(인수1, 인수2)
```

In [ ]:
# add 함수 정의
# 매개변수 x와 y를 입력으로 받기
# x + y 코드를 계산하여 출력
def add(x, y):
  return x + y

In [ ]:
# add 함수를 호출하여 인수로 3과 6 입력
# 인수는 함수를 호출할 때 전달하는 입력 값
add(3, 6)

9

### **4. 리턴 (return)**
- 함수를 호출한 곳으로 결과 값 반환
- ```
def 함수이름(매개변수)
      실행문
      return 되돌려 주는 결과 값
```

- ```
변수 = 함수이름(인수)
```

#### **4-1. 한 개의 리턴 값**

In [ ]:
# returnTest 함수 정의하고 함수를 호출하여 return 값 확인
def returnTest() :
  return "되돌려 주는 결과 값"

value = returnTest()
print(value)

되돌려 주는 결과 값

#### **4-2. 두 개의 리턴 값**

In [ ]:
# returnTest 함수 정의하고 함수를 호출하여 return 값 확인
# 반환되는 두 개의 값을 차례대로 value1, value2에 저장하여 출력

def returnTest() :
  a = 3
  b = 4
  return a, b

value1, value2 = returnTest()
print(value1)
print(value2)

3
4

# **자기 주도 학습 복습 과제 - 문제**
* 문제를 풀고 답을 확인하세요 :)
* 정답지에 자세히 설명되어 있습니다.
* [정답지 링크](https://drive.google.com/file/d/1tGroktitLl7-L-a-Y_-PTkgh2jO8b4qA/view?usp=sharing)

## **1. 함수 문제 (1)**

* 디폴트 매개변수

In [ ]:
# 1) multiplication 함수 정의
#    - 매개변수 a, b 중에서 b는 2로 디폴트 매개변수로 정의
#    - a * b로 계산하여 출력
def multiplication(a, b=2):
  return a * b

In [ ]:
# 2) multiplication 함수를 호출하여 인수로 3과 6 입력하여 c 변수에 저장하여 출력
c = multiplication(3, 6)
print(c)

18

In [ ]:
# 3) multiplication 함수를 호출하여 인수로 3 입력하여 c 변수에 저장하여 출력
c = multiplication(3)
print(c)

6

## **2. 함수 문제 (2)**

* 가변 매개변수

In [ ]:
# 1) 바구니에 든 과일을 출력하는 basket 함수 정의
#    - fruits는 가변 매개변수명
#    - 함수의 첫 줄은 "바구니에 든 과일은? " 문자열 출력
#    - fruits 매개변수에 값으로 가져온 인수들을 하나씩 출력하는 반복문 구현

def basket(*fruits):
  print("바구니에 든 과일은? ")

  for fruit in fruits:
    print(fruit)

In [ ]:
# 2) basket 함수 호출
#    - 인수로 'apple', 'strawberry', 'melon' 입력
basket('apple', 'strawberry', 'melon')

바구니에 든 과일은?
apple
strawberry
melon

## **3. 함수 문제 (3)**

* 키워드 매개변수

In [ ]:
# 1) multiplication 함수 정의
#    - 매개변수 a, b, c는 각각 1, 2, 3 값을 디폴트 매개변수 설정
#    - a * b * c로 계산하여 출력
def multiplication(a=1, b=2, c=3):
  return a * b * c

In [ ]:
# 2) b=5, a=3, c=2 순서로 키워드 매개변수 특징을 이용하여 multiplication 함수 호출
multiplication(b=5, a=3, c=2)

30